In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
with open(r"C:\Users\jc4673\Documents\NETS\config\json_config_2018_08_03.json", 'r') as f:
    config = json.load(f)
    
with open(r"C:\Users\jc4673\Documents\NETS\config\hierarchy_080318_list.txt", 'r') as f:
    hier_list = [line.strip() for line in f.readlines()]
    
df = pd.read_csv(r"C:\Users\jc4673\Documents\Data\NETS2014_Categories_FINAL_fix.csv",
                nrows=10**4, index_col='BEH_ID')

# read TDLINX, not chunked
drn = pd.read_csv(r"C:\Users\jc4673\Documents\NETS\drug.csv", index_col='BEH_ID', squeeze=True, header=0) #(drug store)
sct = pd.read_csv(r"C:\Users\jc4673\Documents\NETS\supercenter.csv", index_col='BEH_ID', squeeze=True, header=0) #(supercenter)
smn = pd.read_csv(r"C:\Users\jc4673\Documents\NETS\grocery.csv", index_col='BEH_ID', squeeze=True, header=0) #(grocery)
gmn = pd.read_csv(r"C:\Users\jc4673\Documents\NETS\gmassmerch.csv", index_col='BEH_ID', squeeze=True, header=0) #(gmassmerch)
cnn = pd.read_csv(r"C:\Users\jc4673\Documents\NETS\conv_other.csv", index_col='BEH_ID', squeeze=True, header=0) #(conv_other)
cng = pd.read_csv(r"C:\Users\jc4673\Documents\NETS\conv_gas.csv", index_col='BEH_ID', squeeze=True, header=0) #(conv_gas)
cmn = pd.read_csv(r"C:\Users\jc4673\Documents\NETS\cmassmerch.csv", index_col='BEH_ID', squeeze=True, header=0) #(cmassmerch)
wrn = pd.read_csv(r"C:\Users\jc4673\Documents\NETS\warehouse.csv", index_col='BEH_ID', squeeze=True, header=0) #(warehouse)

df['DRN'] = drn
df['SCT'] = sct
df['SMN'] = smn
df['GMN'] = gmn
df['CNN'] = cnn
df['CNG'] = cng
df['CMN'] = cmn
df['WRN'] = wrn

df.fillna(0, inplace=True)
df = df.astype('int64')

In [3]:
df['cat_sum'] = df.apply(sum, axis=1)
df['hierarchy'] = np.nan

In [4]:
multi_cat = df['cat_sum'] >= 1

In [5]:
    def get_hierarchy(row):
        for col in hier_list:
            if row[col] == 1:
                return col

In [6]:
%%time
df.loc[multi_cat, 'hierarchy'] = df[multi_cat].apply(get_hierarchy, axis=1)

Wall time: 1.38 s

In [16]:
df.hierarchy

BEH_ID
14001000009    NaN
13001000009    NaN
12001000009    NaN
11001000009    NaN
10001000009    NaN
10001000012    NaN
11001000020    NaN
10001000020    NaN
10001000038    NaN
11001000046    NaN
10001000046    NaN
10001000053    NaN
10001000061    NaN
10001000087    NaN
11001000095    NaN
10001000095    NaN
10001000103    NaN
13001000108    NaN
12001000108    NaN
11001000108    NaN
10001000108    NaN
10001000111    MAG
10001000124    NaN
10001000129    SLC
10001000132    NaN
10001000137    NaN
10001000140    NaN
11001000145    TAN
10001000145    TAN
10001000152    NaN
              ...
10001052567    NaN
10001052570    NaN
12001052575    FFS
11001052575    FFS
10001052575    FFS
10001052583    NaN
10001052591    NaN
10001052609    NaN
11001052612    NaN
10001052612    NaN
10001052617    NaN
11001052620    NaN
10001052620    NaN
10001052625    CFS
11001052633    NaN
10001052633    HPC
11001052638    NaN
10001052638    NaN
10001052641    NaN
11001052646    NaN
10001052646    DES
11001052653    DES
10001052653    DES
10001052658    NaN
10001052666    NaN
10001052674    NaN
10001052682    NaN
10001052690    NaN
11001052695    NaN
10001052695    NaN
Name: hierarchy, Length: 10000, dtype: object

In [19]:
hierarchy = pd.get_dummies(df.hierarchy)
hierarchy.columns = [col + 'h' for col in hierarchy.columns]
hierarchy.head()

,AMUh,ARCh,BARh,BDSh,BEUh,BHOh,BKNh,BKSh,BNKh,CFNh,...,SMKh,SMNh,SPAh,SPSh,SRVh,TANh,TOUh,UNIh,VPAh,ZOOh
BEH_ID,,,,,,,,,,,,,,,,,,,,,
14001000009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13001000009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12001000009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11001000009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10001000009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [156]:
df[df['cat_sum'] >= 1]

Empty DataFrame
Columns: [PIZ, BKN, EAT, BKS, MET, FVM, NAT, FSH, CNV, BDS, SMK, GRY, BAR, LIQ, URG, HPC, RES, DDS, MUL, VPA, MPA, BNK, CRD, DES, NUT, BEU, LIB, REL, POS, NCL, SPS, MAG, ZOO, OFD, FFS, FCS, QSV, CSD, CFN, DPT, DDP, SCL, UNI, SRV, CMU, CMP, CVP, TAN, MAS, DCR, PSC, POL, FIR, JCO, LAU, GSS, SCB, SPA, CFS, EEP, EAP, EAO, EEU, PBE, GAM, ARC, RCC, PLO, SLC, AMU, TOU, DRG, MHH, MHO, BHH, BHO, HOS, RTC, PHT, KCT, WRS, OWR, DRN, SCT, SMN, GMN, CNN, CNG, CMN, WRN, hierarchy, cat_sum]
Index: []

[0 rows x 92 columns]

In [157]:
df['cat_sum']

BEH_ID
14001000009   NaN
13001000009   NaN
12001000009   NaN
11001000009   NaN
10001000009   NaN
10001000012   NaN
11001000020   NaN
10001000020   NaN
10001000038   NaN
11001000046   NaN
10001000046   NaN
10001000053   NaN
10001000061   NaN
10001000087   NaN
11001000095   NaN
10001000095   NaN
10001000103   NaN
13001000108   NaN
12001000108   NaN
11001000108   NaN
10001000108   NaN
10001000111   NaN
10001000124   NaN
10001000129   NaN
10001000132   NaN
10001000137   NaN
10001000140   NaN
11001000145   NaN
10001000145   NaN
10001000152   NaN
               ..
10001052567   NaN
10001052570   NaN
12001052575   NaN
11001052575   NaN
10001052575   NaN
10001052583   NaN
10001052591   NaN
10001052609   NaN
11001052612   NaN
10001052612   NaN
10001052617   NaN
11001052620   NaN
10001052620   NaN
10001052625   NaN
11001052633   NaN
10001052633   NaN
11001052638   NaN
10001052638   NaN
10001052641   NaN
11001052646   NaN
10001052646   NaN
11001052653   NaN
10001052653   NaN
10001052658   NaN
10001052666   NaN
10001052674   NaN
10001052682   NaN
10001052690   NaN
11001052695   NaN
10001052695   NaN
Name: cat_sum, Length: 10000, dtype: float64